@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}
